:javascript
  var startTime = 0;

  window.addEventListener('load', loadStream, false);

  function loadStream() {
    console.log("load stream");
    var request = new XMLHttpRequest();
    request.responseType = 'arraybuffer';
    request.open('GET', "/riptastic.raw", true);


    // Decode asynchronously
    request.onload = function() {
      console.log(request.response);
      console.log('yo dood async');
      var context = new webkitAudioContext();
      var audioBuffer = context.createBuffer(2, 44100, 44100);
      audioBuffer.getChannelData(0).set(request.response);
      // context.decodeAudioData(request.response, function(buffer) {
      //   console.log("decode");
      //   audioBuffer.getChannelData(0).set(buffer);
      // });
      
      var source = context.createBufferSource();
      source.buffer = audioBuffer;
      source.connect(context.destination);
      source.noteOn(startTime);

      startTime += audioBuffer.duration;
      console.log("end");
    }
    request.send();
  }